streamlit
google-generativeai
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-text-splitters
python-dotenv
mysql-connector-python
bcrypt
pandas
numpy
PyPDF2
python-docx
fpdf2
plotly